::-webkit-scrollbar {
  display: none;
}

.from-blue-ieee {
  --tw-gradient-from: #00A19D;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(255 248 229 / 0));
}

.via-white-ieee {
  --tw-gradient-stops: var(--tw-gradient-from), #FFF8E5, var(--tw-gradient-to, rgb(255 248 229 / 0));
}

.to-yellow-ieee {
  --tw-gradient-to: #FFB344;
}

.h-100 {
  height: 31.8rem;
}

/* Custom CSS for Hero Area Start*/
#hero-area {
  color: #333333;
  background-image: conic-gradient(from 180deg at 50% 50%, #FFF8E5 0deg, #F2F2F2 88.12deg, #00A19D 168.75deg, #FFF8E5 360deg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

#title {
  font-family: Butler, sans-serif;
  font-weight: bold;
}

#subtitle {
  font-style: italic;
}

#tagline {
  font-family: Butler, sans-serif;
}

.section-title {
  font-family: Butler, sans-serif;
  font-weight: semibold;
}

.gradient-decor {
  position: absolute;
  width: 450px;
  height: 450px;
  right: 0px;
  top: 60vh;
  background: linear-gradient(180deg, #FFB344 0%, #E05D5D 100%);
  filter: blur(200px);
}

.multi-dots {
  position: absolute;
  left: 0px;
  width: 10vw;
}

.lower-star {
  position: absolute;
  bottom: 25vh;
  left: 25vw;
  width: 5vw;
}

.upper-star {
  position: absolute;
  top: 25vh;
  right: 25vw;
  width: 2vw;
}

.scroll {
  width: 5vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .multi-dots {
    width: 0px;
  }
}

/* Custom CSS for Hero Area End*/

.about-us-bg {
  position: relative;
  background: linear-gradient(89.93deg, rgba(232, 229, 219, 0.5) 0.15%, rgba(195, 228, 212, 0.5) 100.02%), conic-gradient(from 180deg at 50% 50%, #F2F2F2 -115.37deg, #FFF8E5 182.03deg, #F2F2F2 244.63deg, #FFF8E5 542.03deg);
}

.about-us-box {
  background: linear-gradient(111.1deg, rgba(255, 255, 255, 0.4) 19.82%, rgba(196, 196, 196, 0.16) 84.56%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  border-radius: 30px;
}

/* Custom CSS for EVENTS START*/
.events-container {
  position: absolute;
  width: 1581px;
  height: 200px;
  left: 191px;
  top: 3446px;
}

/* Custom CSS for EVENTS END*/

/* Custom CSS for member registration START*/

#member-registration {
  position: relative;
  background: linear-gradient(124.22deg, #FFF8E5 10.72%, #00A19D 127.62%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.regist-title {
  font-family: 'Butler';
  font-style: normal;
  color: #3063AF;

  position: absolute;
  top: 25vh;

}

.two-circle {
  position: absolute;
  width: 5vw;
  left: 8vw;
  top: 20vh;
}

.two-lines {
  position: absolute;
  width: 40vw;
  right: 0vw;
  top: 38vh;
}
